html,
body {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--qq-light);
  color: var(--qq-dark);
}

body {
  position: relative;
}

img,
svg,
video {
  max-width: 100%;
}
