PORT=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

LOJA_SEDE_ID=

AI_SERVICE_URL=
AI_SERVICE_INTERNAL_KEY=

JWT_SECRET=
JWT_EXPIRES_IN=


 
SESSION_TIMEOUT_MINUTES=
SESSION_WARNING_MINUTES=


SMTP_HOST=
SMTP_PORT=
SMPT_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

FRONTEND_RESET_PASSWORD_URL=
PASSWORD_RESET_TOKEN_MINUTES=